<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Navbar</span>
    </div>
  </nav>

<div *ngIf="!isSignedIn" class="container">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        #email
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" #password />
    </div>
    <button  (click)="onSignin(email.value,password.value)" type="submit" class="mr-3 btn btn-primary">SignIn</button>
    <button (click)="onSignup(email.value,password.value)" type="submit" class="btn btn-primary">SignUp</button>
  </form>
</div>

<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
